.layout {
    display: flex;
    position: relative;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: lightseagreen;
}

.header, .content {
    padding: 1rem 1.5rem;
}

.header {
    display: flex;
    height: 3.5rem;
    align-items: center;
    padding-inline: 1.5rem;
    justify-content: flex-end;
    background-color: lightseagreen;
}

@media (max-width: 640.98px) {
    .header {
        justify-content: space-between;
    }
}

@media (min-width: 641px) {
    .layout {
        flex-direction: row;
    }

    .sidebar {
        top: 0;
        height: 100vh;
        position: sticky;
        min-width: 250px;
    }

    .header {
        top: 0;
        z-index: 1;
        position: sticky;
    }
}
