@page "/basic"
@namespace BlazorCVA.Demo.Components.Pages

<h3>Basic Demo</h3>
<br />
<button class="@button1Classes">Primary Small Button</button>
<br /><br />
<button class="@button2Classes">Secondary Large Button</button>
<br /><br /><br />
<details>
    <summary style="cursor: pointer; color: blueviolet;">Show code</summary>
    <div class="code-container">
        <details>
            <summary style="cursor: pointer; color: deeppink;">Style</summary>
            <pre style="font-family: Consolas; overflow: auto;">
                @styleExampleCode
            </pre>
        </details>
        <details>
            <summary style="cursor: pointer; color: dodgerblue;">Razor</summary>
            <pre style="font-family: Consolas; overflow: auto;">
                @razorExampleCode
            </pre>
        </details>
        <details>
            <summary style="cursor: pointer; color: forestgreen;">CSharp</summary>
            <pre style="font-family: Consolas; overflow: auto;">
                @csharpExampleCode
            </pre>
        </details>
    </div>
</details>