@page "/"

<h1>Welcome to Blazor CVA Demo</h1>
<br />
<p>
    BlazorCVA is a library designed to simplify the management of CSS classes in Blazor applications. Inspired by the <a style="color: lightseagreen" href="https://cva.style/">Class Variance Authority (CVA)</a>, BlazorCVA provides a type-safe, flexible way to manage and apply CSS classes based on component variants, ensuring a clean and maintainable approach to styling.
</p>
<br />
<div class="feature-section">
    <h2>Features</h2>
    <ul>
        <li>Type-Safe Variants: Define and manage CSS classes based on component variants with type safety.</li>
        <li>Flexible Conditions: Use simple values or custom predicates to create complex variant conditions.</li>
        <li>Seamless Integration: Easily integrate with Blazor components and manage dynamic class names.</li>
    </ul>
</div>